<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- NOTIFICATION -->

  <div class="Background-top">
    <div class="logo">
      <img src="assets/img/logo-isa-white.png" />
    </div>
    <div class="notif">
      <a [routerLink]="['/members/notifications']">
        <ion-badge>{{totalProspect}}</ion-badge>
        <ion-icon name="notifications"></ion-icon>

      </a>
    </div>
    <div class="fullname">
      <!-- <ion-text *ngFor="let item of items">{{item.fullname}}</ion-text> -->
    </div>
  </div>


  <!-- Report for you new -->
  <div class="report-for-you">
    <ion-grid>
      <ion-row justify-content-center align-items-start style="height: 100%">
        <ion-col>
          <ion-text class="customer-report"><b>{{totalCustomer}}</b></ion-text>
          <ion-text class="sub-text"><b> Customer </b></ion-text>
          <ion-text class="month-text"><b> / month </b></ion-text>
        </ion-col>

        <ion-col>
          <ion-text class="sub-text"><b> Incentive </b></ion-text>
          <ion-text class="month-text"><b> / month </b></ion-text>
          <div class="vertical-line">
            <!-- <ion-text class="incentive-report"><b>30K</b></ion-text> -->
            <ion-input class="incentive-report" *ngFor="let item of itemIncentive"value="{{ item.Incentive | currency:'Rp '}}" readOnly></ion-input>
          </div>
        </ion-col>

        <ion-col>
          <ion-text class="prospect-report"><b>{{totalProspect}}</b></ion-text>
          <ion-text class="sub-text"><b> Prospect </b></ion-text>
          <ion-text class="month-text"><b> / month </b></ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- FLOAT MENU BAR -->

  <div class="menu">
    <ion-grid>
      <ion-row justify-content-center align-items-center style="height: 100%">
        <div class="button">
          <a [routerLink]="['/members/contact']">
            <ion-icon class="icon" src="/assets/icon/contact.svg"></ion-icon>
          </a>
          <div class="font"> CONTACT </div>
        </div>

        <div class="button">
          <a [routerLink]="['/members/account']">
            <ion-icon class="icon" src="/assets/icon/account.svg"></ion-icon>
          </a>
          <div class="font"> ACCOUNT </div>
        </div>

        <div class="button">
          <a [routerLink]="['/members/product']">
            <ion-icon class="icon" src="/assets/icon/product.svg"></ion-icon>
          </a>
          <div class="font"> PRODUCT </div>
        </div>

        <div class="button">
          <a [routerLink]="['/members/prospect']">
            <ion-icon class="icon" src="/assets/icon/prospect.svg"></ion-icon>
          </a>
          <div class="font"> PROSPECT </div>
        </div>

        <div class="button">
          <a [routerLink]="['/members/activities']">
            <ion-icon class="icon" src="/assets/icon/activities.svg"></ion-icon>
          </a>
          <div class="font"> ACTIVITY </div>
        </div>
      </ion-row>
    </ion-grid>
  </div>



  <!-- Menampilkan report Activities -->
  <div class="extra-content">
  <ion-grid>
  
  <div class="activities-text">
    <ion-text><b>Activities for you</b></ion-text>
  </div>

  <div class="see-all">
    <a [routerLink]="['/members/activities']">
      <ion-text>See all</ion-text>
    </a>
  </div>

  
    <div class="scrolling-wrapper">
      <div class="text-noact">
        <p text-center>{{textActivity}}</p>
      </div>
      <div *ngFor="let item of Activity" class="card-new">
        <ion-card class="activities-card">
          <ion-card-content>
            <div class="icon-activities">
              <img src="assets/icon/activity.png" />
            </div>
            <!-- <ion-datetime displayFormat="h:mm a" pickerFormat="h mm a" [(ngModel)]="time"></ion-datetime> -->
            <h2><b>{{item.title}}</b></h2>
            <ion-textarea>
              {{item.desc}}
            </ion-textarea>
            <div class="time-activities">
              {{item.startTime}}
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
</ion-grid>
</div>


  <!-- MENAMPILKAN PROSPECT LAINNYA  -->
  <ion-grid>
    <div class="prospect-grid">
    <div class="prospect-text">
      <ion-text><b>Prospect for you</b></ion-text>
    </div>
    <div class="see-all">
      <a [routerLink]="['/members/prospect']">
        <ion-text>See all</ion-text>
      </a>
    </div>
  
    <div class="extra-content2">
      <div class="scrolling-wrapper-2">
        <div class="text-noact">
          <p text-center>{{text}}</p>
        </div>
        <div *ngFor="let item of itemProspect" class="card">
          <ion-card button
            (click)="updateprospect(item.id,item.namaCustomer,item.emailCustomer,item.alamatCustomer,item.no_tlp,item.company,item.alamatCompany,item.emailCompany,item.nomorCompany,item.customerneed,item.stock,item.hargaProduk,item.totalPrice,item.budget,item.status)">
            <img class="img-customer" src="assets/img/customer-icon.png" />
            <ion-card-content class="prospect-card">
              <!-- <p>{{item.nama}}</p> -->
              <div class="item-name">
               {{item.namaCustomer}} from {{item.company}}
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
  </ion-grid>

</ion-content>
