<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="Background-top">
    <div class="logo">
      <img src="assets/img/logo-isa-white.png" />
    </div>
    <div class="notif">
      <a [routerLink]="['/members/notifications']">
        <ion-badge>{{totalProspect}}</ion-badge>
        <ion-icon name="notifications"></ion-icon>
      </a>
    </div>
  </div>
  <!-- Report for you new -->
  <ion-grid class="report-for-you">
    <ion-row >
      <ion-col class="ion-text-center">
        <ion-content color="white">
          <ion-slides [options]="slideOpts">
            <ion-slide>
             <b>{{totalProspect}}
              Propect</b> 
            </ion-slide>
            <ion-slide>
              <b>{{totalCustomer}}
              Customer</b>
            </ion-slide>
          </ion-slides>
          <ion-text>in a Month</ion-text>
        </ion-content>
      </ion-col>
      <ion-col class="ion-text-center" style="height: 100%" col-12 col-md-6 col-lg-4 col-xl-2>
        <div class="vertical-line">
          <ion-text class="incentive-report">Incentive <b>{{Incentive}}</b></ion-text>
          <br>
          <ion-text>in a Month</ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- FLOAT MENU BAR -->
  <div class="menu">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-text-center" style="height: 100%" col-12 col-md-6 col-lg-4 col-xl-3>
        <div class="button">
          <a [routerLink]="['/members/contact']">
            <ion-icon class="icon" src="/assets/icon/contact.svg"></ion-icon>
          </a>
          <div class="font"> CONTACT </div>
        </div>
        <div class="button">
          <a [routerLink]="['/members/account']">
            <ion-icon class="icon" src="/assets/icon/account.svg"></ion-icon>
          </a>
          <div class="font"> ACCOUNT </div>
        </div>
        <div class="button">
          <a [routerLink]="['/members/product']">
            <ion-icon class="icon" src="/assets/icon/product.svg"></ion-icon>
          </a>
          <div class="font"> PRODUCT </div>
        </div>
        <div class="button">
          <a [routerLink]="['/members/prospect']">
            <ion-icon class="icon" src="/assets/icon/prospect.svg"></ion-icon>
          </a>
          <div class="font"> PROSPECT </div>
        </div>
        <div class="button">
          <a [routerLink]="['/members/activities']">
            <ion-icon class="icon" src="/assets/icon/activities.svg"></ion-icon>
          </a>
          <div class="font"> ACTIVITY </div>
        </div>
      </ion-row>
    </ion-grid>
  </div>
  <!--  activities section -->
  <ion-grid backgroud-color-white class="extra-content" col-12 col-md-6 col-lg-4 col-xl-3>
    <!-- Row untuk menampung activities -->
    <ion-row class="row-1" col-12 col-md-6 col-lg-4 col-xl-3>
      <ion-col class="ion-text-left" col-9 push-3>
        <div class="activities-text">
          <ion-text text-sm><b>Your Activity</b></ion-text>
        </div>
      </ion-col>
      <ion-col class="ion-text-right" col-3 push-9>
        <div class="see-all">
          <a [routerLink]="['/members/activities.html']">
            <ion-text text-sm>See all</ion-text>
          </a>
        </div>
      </ion-col>
      <ion-col class="card-activity" col-12 col-md-6 col-lg-4 col-xl-3>
        <div class="scrolling-wrapper">
          <div *ngFor="let item of Activity" class="card-new">
            <ion-card class="activities-card">
              <ion-card-content>
                <h2><b>{{item.title}}</b></h2>
                <ion-text class="time2" readOnly>
                  {{item.desc}}
                  <ion-text> with </ion-text>
                  {{item.Prospect}}
                  <p> {{item.startTime}} </p>
                </ion-text>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </ion-col>
    </ion-row>
     <p class="ion-text-center">{{textActivity}}</p>
    </ion-grid>
    <!--  prospect section  -->
    <ion-grid backgroud-color-white class="extra-content" col-12 col-md-6 col-lg-4 col-xl-3>
      <!-- Row untuk menampung activities -->
      <ion-row class="row-1" col-12 col-md-6 col-lg-4 col-xl-3>
        <ion-col class="ion-text-left" col-9 push-3>
          <div class="activities-text">
            <ion-text text-sm><b>Your Prospect</b></ion-text>
          </div>
        </ion-col>
        <ion-col class="ion-text-right" col-3 push-9>
          <div class="see-all">
            <a [routerLink]="['/members/activities.html']">
              <ion-text text-sm>See all</ion-text>
            </a>
          </div>
        </ion-col>
        <ion-col class="prospectcard" col-12 col-md-6 col-lg-4 col-xl-3>
          <div class="scrolling-wrapper-2">
            <div *ngFor="let item of itemProspect" class="card-new">
              <ion-card class="prospectcard" webkitbox>
                <img text-align-center src="assets/img/customer-icon.png" />
              <ion-card-content text-align-left>
                <ion-textarea class="item-name" readOnly><b>{{item.namaCustomer}}</b></ion-textarea>
                 <div class="followup"> <p text-align-center> Follow up </p> </div>
                <br>
              </ion-card-content>
              </ion-card>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <p class="ion-text-center">{{textProspect}}</p>
      </ion-grid>
</ion-content>