* {
  --ion-background-color: white;
}

ion-content {
  --ion-background-color: #EEEEEE !important;
}

ion-icon {
  color: #EEEEEE;
}

ion-card {
  height: 33vw;
  background-color: #ff951c;

  .activities-card {
    background-color: #ff951c;
  }
}

ion-card-content {
  height: 30px;
  margin-left: -2vw;

  .sc-ion-card-md-h {
    height: 30px;
    margin-left: unset;
    margin-right: unset;
    -webkit-margin-start: 35px;
    margin-inline-start: 10px;
    -webkit-margin-end: 10px;
    margin-inline-end: 5px;
  }

  .item-name {
    position: absolute;
    left: 2px;
    margin-top: -14px;
    font-size: 10px;
  }
}


ion-col {
  text-align: center;
  margin-left: -55px;
  .customer-report {
    position: absolute;
    // margin-left: 40px;
    margin-top: 0px;
    font-size: 28px;
    text-align: center;
  }
  
  .incentive-report {
    // position: absolute;
    // margin-left: 40px;
    margin-top: 0px;
    font-size: 13px;
    text-align: center;
    left: 1vw;
    // border-left: solid 1px black;
    // border-right: solid 1px black;
  }

  .prospect-report {
    position: absolute;
    // margin-left: 40px;
    margin-top: 0px;
    font-size: 28px;
    text-align: center;
  }

  .sub-text {
    position: absolute;
    // margin-left: 35px;
    margin-top: 33px;
    font-size: 12px;
  }

  .month-text {
    position: absolute;
    // margin-left: 35px;
    margin-top: 50px;
    font-size: 8px;
  }

  .vertical-line {
    position: inherit;
    align-content: baseline;
    margin-left: 50px;
    height: 60px;
    border-left: 1px solid;
    border-right: 1px solid;
  }

}

ion-grid {
  display: grid;
  background-color: white;
  height: 10%;

  .report-for-you {
    width: 100%;
    background-color: white;
    position: absolute;
    margin-top: 5vw;
    margin-left: 3vw;
  }
}

ion-badge {
  position: absolute;
  margin-top: 4vw;
  margin-left: 84vw;
}

.sc-ion-card-md-h {
  -webkit-margin-start: 6px;
  margin-inline-start: 12px;
  -webkit-margin-end: 6px;
  margin-inline-end: 0px;
}

.item-name {
  color: white;
  margin-left: 10px;
  margin-right: 0;
  margin-top: -14px;
}

.Background-top {
  margin-top: -140px;
  height: 250px;
  background-color: white;
  // background-image: url('../../../assets/img/Liquid-Cheese.svg');
  background-attachment: fixed;
  background-size: cover;
}

.fullname {
  margin-top: -35px;
  margin-right: 15%;
  text-align: right;
  font-size: 13px;
  color: #EEEEEE;
}

.logo {
  height: 50px;
  width: 340px;
  margin-left: -50px;

  img {
    margin-top: 156px;
    .img-customer {
      position: absolute;
      width: 30%;
    }
  }
}

.notif {
  margin-top: 111px;

  ion-icon {
    color: #ff951c;
    ;
    height: 40px;
    width: 40px;
    margin-left: 86%;
    margin-top: 10px;

  }
}

.menu {
  display: grid;
  margin-top: 6px;
  height: 15%;
  background-color: white;

  // border-radius: 10px;
  .button {
    margin: 1.5vw;
    widows: 20vw;
    width: 15vw;
    height: 15vw;
    background-color: #F3F3F3;
    border-radius: 20px 20px 20px;
    box-shadow: #989aa2 8px;
    --padding-top: 12px !important;
    --padding-end: 12px !important;
    --padding-bottom: 12px !important;
    --padding-start: 20px !important;
    // box-shadow: 2px 2px 2px #888888;
  }

  .icon {
    margin-left: -2.8vw;
    margin-top: -2.8vw;
    widows: 20vw;
    width: 20vw;
    height: 20vw;
  }

  .font {
    margin-top: -2vw;
    text-align: center;
    font-size: 2.7vw;
  }
}

.content {
  ion-text {
    position: absolute;
    margin-left: 10px;
  }

  border-radius: 0px;
  margin-top: 3vw;
  background-color: white;
  height: 230px;
}

.extra-content {
  position: relative;
  width: unset;
  border-radius: 0px;
  margin-top: -10px;
  background-color: white;
  height: auto;

  ion-text {
    position: relative;
    background-color: white;
    margin-top: 90vw;
  }

  .scrolling-wrapper {

    &::-webkit-scrollbar {
      display: none;
    }

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    .card {
      ion-card-title {
        position: relative;
        color: black;
        font-size: 12vw;
      }

      margin-top: 15vw;
      display: inline-block;
      width: 112px;
      height: 5px;
    }

    .card-new {
      display: inline-block;
      margin-top: 0vw;
      width: 100vw;
      height: 20vw;
    }

  }
}

.extra-content2 {
  position: relative;
  width: unset;
  border-radius: 0px;
  margin-top: -10px;
  height: auto;

  ion-text {
    position: relative;
    background-color: white;
    margin-top: 90vw;
  }

  .scrolling-wrapper {

    &::-webkit-scrollbar {
      display: none;
    }

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    .card {
      ion-card-title {
        position: relative;
        color: black;
        font-size: 12vw;
      }

      margin-top: 15vw;
      display: inline-block;
      width: 112px;
      height: 5px;
    }

    .card-new {
      display: inline-block;
      margin-top: 0vw;
      width: 100vw;
      height: 20vw;
    }

  }
}


// Grid Report TOTAL CUSTOMER
.report {
  ion-text {
    font-style: bold;
  }

  position: absolute;
  margin-top: 33vw;
  margin-left: 3vw;
  height: 21vw;
  width: 45vw;
  border-radius:10px;
  border-color: #4e4e4e;
  background-image: url('../../../assets/img/backgroundFix.svg');
  background-size: 50vw;
  // background-color: #ff7700;
}

.see-all {
  position: absolute;
  margin-left: 80vw;
  margin-top: 5vw;
  font-size: 15px;
  color: darkgrey;
}

.see-all2 {
  margin-left: 78vw;
  font-size: 15px;
  color: darkgrey;
}

.text-report {
  font-size: 10vw;
  margin-top: -2vw;
  color: #ffffff;
}

.detail-report {
  position: relative;
  font-size: 3vw;
  margin-top: 1vw;
  margin-left: 5px;
}

// Grid Report TOTAL INCENTIVE
.detail-report2 {
  position: relative;
  font-size: 4vw;
  margin-top: 28vw;
  margin-left: 0px;
}

.incentive {
  position: absolute;
  margin-top: 10vw;
  margin-left: 51vw;
  height: 44vw;
  width: 45vw;
  border-radius: 10px;
  // border-style: solid;
  // border-color: #4e4e4e;
  background-image: url('../../../assets/img/backgroundFix.svg');
  background-size: 362px;
  // background-color: #ffb030;
}

.text-report-2 {
  position: relative;
  margin-top: 10vw;
  font-size: 5vw;
  color: #ffffff;
}

ion-input {
  position: absolute;
  margin-top: 2vw;
  margin-left: 5vw;


  .price {
    margin-left: 10vw;
    align-content: center;
    font-style: bold;
    font-size: 18px;
  }
}

.idr {
  margin-top: 8vw;
  font-size: 30px;
}

// Grid Report TOTAL PROSPECT
.report3 {
  ion-text {
    font-style: bold;
  }

  position: absolute;
  margin-top: 10vw;
  margin-left: 3vw;
  height: 21vw;
  width: 45vw;
  border-radius:10px;
  // border-style: solid;
  // border-color: #4e4e4e;
  background-image: url('../../../assets/img/backgroundFix.svg');
  background-size: 50vw;
  // background-color: #ff951c;
}

.detail-report3 {
  font-size: 3vw;
  margin-top: 0vw;
  margin-left: 5px;
}

.text-report3 {
  position: relative;
  font-size: 10vw;
  margin-top: -1vw;
  color: #ffffff;
  align-content: center;
}

.seeall {
  font-style: normal;
  text-decoration: underline;
  margin-top: 5vw;
  font-size: 15px;
}

.time-activities {
  position: relative;
  margin-top: -6.5vw;
  color: white;
}

ion-slide {
  background-color: #ff7700;
}

// CSS FOR TEXT INFORMATION DETAIL BAR

.activities-text {
  position: absolute;
  margin-top: 5vw;
  margin-left: 3vw;
}

.text-noact {
  position: relative;
  margin-top: 25vw;
  /* margin-left: 20vw; */
  align-items: center;
}

.prospect-grid {
  background-color: white;
  position: relative;
  margin-top: 28px;
  width: unset;
  height: 65vw;
}

.prospect-text {
  position: absolute;
  margin-top: 5vw;
  margin-left: 3vw;
}

.p {
  color: white;
  margin-top: -20vw;
  margin-left: -3vw;
}

.icon-activities {
  position: absolute;
  margin-top: -40px;
  margin-left: 50vw;
  height: 50vw;
  width: 50vw;
}

.companyprospect {
  position: relative;
  margin-top: -2vw;
  margin-left: 2.5vw;
}

h2 {
  font-size: 20px;
  color: white;
}

ion-textarea {
  font-size: 15px;
  color: white;
}