<ion-header no-border>
  <ion-toolbar color=#F57F17 class="new-background-color">
    <ion-title>PENGATURAN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item button (click)="profile()">
      <ion-icon slot="center" name="person"></ion-icon>
      <ion-label>
        <h3>Sistem Pengguna</h3>
      </ion-label>
      <ion-icon name="arrow-dropright"></ion-icon>
    </ion-item>
  </ion-list>


  <!-- <ion-list>
    <ion-item button (click)="bahasa()">
      <ion-icon slot="center" name="person"></ion-icon>
      <ion-label>
        <h3>Bahasa</h3>
        <p>Bahasa Indonesia</p>
      </ion-label>
      <ion-icon name="arrow-dropright"></ion-icon>
    </ion-item>
  </ion-list> -->

  <ion-list>
    <ion-item button (click)="showDetail()">
      <ion-icon slot="center" name="person"></ion-icon>
      <ion-label>
        <h3>Tentang</h3>
      </ion-label>
      <ion-icon name="arrow-dropright"></ion-icon>
    </ion-item>
  </ion-list>



  <!-- <ion-button class="signout" expand="block" shape="round" button (click)="presentAlertMultipleButtons()">Sign Out</ion-button> -->
  <div class="signout">
    <ion-button expand="full outline" shape="round" color="white" (click)="presentAlertMultipleButtons()">SIGN OUT
    </ion-button>
  </div>


  <!-- <ion-grid>
        <ion-row justify-content-center align-items-center style="height: 200%">
            <ion-button expand="full outline" shape="round" (click)="presentAlertMultipleButtons()" color="danger">
                   <ion-label>Keluar</ion-label>
            </ion-button>
        </ion-row>
    </ion-grid> -->
</ion-content>