ion-title {
  color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: capitalize;
}

ion-grid {
  object-position: unset;
  top: 10px;
  float: initial;
  padding: 10px;
  color: #F57F17;
}

ion-header {
  background-color: #F57F17;
}

new-background-color {
  background-color: #F57F17;
}

ion-toolbar {
  background-color: #F57F17;
}

ion-icon {
  position: relative;
  color: #222428;
}

ion-label {
  span {
    color: #b20000;
  }
}

.container {
  margin-top: -10px;
}

.signout {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  box-shadow: #989aa2 8px;
  --padding-top: 12px;
  --padding-end: 12px;
  --padding-bottom: 12px;
  --padding-start: 20px;
  color: #ff1717;
  border: 3px #F57F17;
}

ion-button {
  align-content: center;
  border-style: solid;
  border-radius: 30px 30px 30px 30px;
  color: #b20000;
}