ion-button {
  color: white;
  display: bold;
  width: 30%;
}

ion-title {
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

ion-header {
  background-color: #F57F17;
  color: #F57F17;
}

ion-toolbar {
  background-color: #F57F17;
}