<ion-header>
  <ion-toolbar color=#F57F17 class="new-background-color">
    <ion-buttons color=#FFFFFF slot="start" class="new-background-color">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons color=#FFFFFF slot="primary">
      <ion-button
        (click)="updatecontact(id,nama,email,alamat,tgl_lahir,kelamin,no_tlp,almt_rumah,title,perusahaan,almt_perusahaan,penghasilan,Hobi,Makanan_Favorit,NPWP,Facebook,Twitter,Instagram)">
        Edit
      </ion-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
    <div class="coverProduk">
      
    </div>
        <div class="cover">
          <div class="add">
            <label for="file-input">
              <img [src]="items" />
              <img [hidden]="isUploaded" src="assets/img/4_avatar-512.png" />
            </label>
            <input id="file-input" type="file" class="upload" (change)="uploadFile($event.target.files)"/>
          </div>
          <div text-center>
            <div text-center *ngIf="isUploading && !isUploaded">
              <div *ngIf="snapshot | async as snap">
                <!-- File Size: {{ snap.totalBytes | fileSizePipe }} Transfered:
                {{ snap.bytesTransferred | fileSizePipe }} -->
                <div *ngIf="snapshot && snap.bytesTransferred != snap.totalBytes">
                  <!-- <ion-button color="warning" size="small" (click)="task.pause()" class="button is-warning">Pause</ion-button>
                  <ion-button size="small" (click)="task.resume()" class="button is-info">Resume</ion-button>
                  <ion-button color="danger" size="small" (click)="task.cancel()" class="button is-danger">Cancel</ion-button> -->
                </div>
              </div>
              <div *ngIf="percentage | async as pct">
                <!-- Progress: {{ pct | number }}% -->
                <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
              </div>
            </div>
          </div> 
      <div class="nama">
        <ion-input type="text" [(ngModel)]="nama" readonly></ion-input>
      </div>
      <!-- fungsi sebagai munculnya tampilan Perusahaan ketika di view -->
      <div class="perusahaan">
        <ion-input type="text" [(ngModel)]="title" readonly></ion-input>
      </div>
    </div>
    <!-- fungsi sebagai munculnya tampilan nomor telepon ketika di view -->
    <div class="nomor-telepon">
      <ion-item lines="none">
        <ion-label position="floating">Phone Number </ion-label>
        <ion-input type="text" [(ngModel)]="no_tlp" readonly></ion-input>
      </ion-item>
    </div>
    <!-- fungsi sebagai munculnya tampilan alamat rumah ketika di view -->
    <div class="alamat">
      <ion-item lines="none">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" [(ngModel)]="email" readonly></ion-input>
      </ion-item>
    </div>
    <!-- fungsi sebagai munculnya tampilan npwp ketika di view -->
    <div class="npwp">
      <ion-item lines="none">
        <ion-label position="floating">Address 1 </ion-label>
        <ion-input type="text" [(ngModel)]="alamat" readonly></ion-input>
      </ion-item>
    </div>
    <!-- fungsi sebagai munculnya tampilan Twitter ketika di view -->
    <div class="twitter">
      <ion-item lines="none">
        <ion-label position="floating">Date of birth</ion-label>
        <ion-input type="text" [(ngModel)]="tgl_lahir" readonly></ion-input>
      </ion-item>
    </div>
  </div>
  <div class="text1">
    <ion-card-header tappable (click)="collapseCard = !collapseCard">
      <ion-card-title>
        <ion-label>
          <h2 text-center> View All <ion-icon name="arrow-dropdown"></ion-icon>
          </h2>
        </ion-label>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="collapseCard">
      <div>
        <ion-item lines="none">
          <ion-label position="floating">Company Name</ion-label>
          <ion-input type="text" [(ngModel)]="perusahaan" readonly></ion-input>
        </ion-item>
      </div>
      <div>
        <ion-item lines="none">
          <ion-label position="floating">Company Address</ion-label>
          <ion-input type="text" [(ngModel)]="almt_perusahaan" readonly></ion-input>
        </ion-item>
      </div>
      <div>
        <ion-item lines="none">
          <ion-label position="floating">Income</ion-label>
          <ion-input type="text" [(ngModel)]="penghasilan" readonly></ion-input>
        </ion-item>
      </div>
      <div>
        <ion-item lines="none">
          <ion-label position="floating">NPWP</ion-label>
          <ion-input type="text" [(ngModel)]="NPWP" readonly></ion-input>
        </ion-item>
      </div>
      <div>
        <ion-item lines="none">
          <ion-label position="floating">Gender</ion-label>
          <ion-input type="text" [(ngModel)]="kelamin" readonly></ion-input>
        </ion-item>
      </div>
      <div>
        <ion-item lines="none">
          <ion-label position="floating">Address 2</ion-label>
          <ion-input type="text" [(ngModel)]="almt_rumah" readonly></ion-input>
        </ion-item>
      </div>
      <div>
        <ion-item lines="none">
          <ion-label position="floating">Hobby</ion-label>
          <ion-input type="text" [(ngModel)]="Hobi" readonly></ion-input>
        </ion-item>
      </div>
      <div>
        <ion-item lines="none">
          <ion-label position="floating">Favorite Food</ion-label>
          <ion-input type="text" [(ngModel)]="Makanan_Favorit" readonly></ion-input>
        </ion-item>
      </div>
      <div>
        <ion-item lines="none">
          <ion-label position="floating">Facebook</ion-label>
          <ion-input type="text" [(ngModel)]="Facebook" readonly></ion-input>
        </ion-item>
      </div>
      <div>
        <ion-item lines="none">
          <ion-label position="floating">Twitter</ion-label>
          <ion-input type="text" [(ngModel)]="Twitter" readonly></ion-input>
        </ion-item>
      </div>
      <div>
        <ion-item lines="none">
          <ion-label position="floating">Instagram</ion-label>
          <ion-input type="text" [(ngModel)]="Instagram" readonly></ion-input>
        </ion-item>
      </div>
    </ion-card-content>
  </div>


  <!-- fungsi sebagai user bisa langsung call dari akun yang di view -->
  <div class="content">
    <ion-button fill="clear" (click)="call(data)">
      <ion-icon name="call"></ion-icon>
    </ion-button>
  </div>
</ion-content>