<ion-content>
  <!-- tampilan slide pertama -->
  <ion-slides>
    <ion-slide>
      <div class="icon">
        <img src="assets/img/slide.png">
      </div>
    </ion-slide>

  <!-- tampilan slide kedua -->
    <ion-slide>
      <div class="icon-slide2">
        <img src="assets/img/bussness.png" />
        <ion-text>
          Isystem Asia adalah Perusahaan Konsultasi Manajemen dan Teknologi. Berfokus pada Customer Relationship
          Management (CRM).
          Customer Experoence Management (CX) dan Business Process Management (BPM). Layanan kami mulai dari pelatihan,
          sertifikasi,
          konsultasi dan implementasi sistem.
        </ion-text>
      </div>
    </ion-slide>

   <!-- tampilan slide ketiga -->
    <ion-slide>
      <img src="assets/img/Sload@2x.png">
      <h2>Selamat Datang di Sunny! </h2>
      <ion-button shape="round" color="light" (click)="login()">Lanjutkan <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>