<ion-content>
  <!-- tampilan slide pertama -->
  <ion-slides>
    <ion-slide>
      <div class="icon">
        <img src="assets/img/loadpicture-1.png">
      </div>
        <img src="assets/img/text-load1.png">
      </div>
    </ion-slide>

    <!-- tampilan slide kedua -->
    <ion-slide>
      <div class="icon-slide2">
        <img src="assets/img/loadpicture-2.png">
      </div>

      <div class="text-load2">
        <img src="assets/img/text-load2.png">
      </div>
        <!-- <ion-text>
          Isystem Asia adalah Perusahaan Konsultasi Manajemen dan Teknologi. Berfokus pada Customer Relationship
          Management (CRM).
          Customer Experience Management (CX) dan Business Process Management (BPM). Layanan kami mulai dari pelatihan,
          sertifikasi,
          konsultasi dan implementasi sistem.
        </ion-text> -->
      
    </ion-slide>

    <!-- tampilan slide ketiga -->
    <ion-slide>
      <div class="icon-slide3">
        <img src="assets/img/loadpicture-3.png">
      </div>
      
      <div class="text-load3">
        <img src="assets/img/text-load3.png">
      </div>
      
      <!-- <h2> WELCOME TO SUNNY APP! </h2> -->
      <ion-button shape="round" color="light" (click)="login()"><b> NEXT </b><ion-icon slot="end" name="arrow-forward">
        </ion-icon>
      </ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>