<ion-header>
  <ion-toolbar color=#F57F17 class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="primary">
      <div *ngFor="let item of items">
        <ion-button
          (click)="EditProfile(item.id, item.fullname, item.phonenumber, item.birthday, item.email, item.country)">Edit
        </ion-button>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
    <div class="cover">
      <div class="add">
        <label for="file-input">
          <img [src]="url" *ngIf="url">
          <img [hidden]="isLoaded" src="assets/img/avatar-contact.png" />
        </label>
        <input id="file-input" type="file" class="upload" (change)="onSelectFile($event)" />
      </div>
      <div class="nama">
        <h3 *ngFor="let item of items">{{item.fullname}}</h3>
      </div>
    </div>

  
    <div *ngFor="let item of items" class="items">
      <!-- fungsi sebagai munculnya tampilan nomor telepon ketika di view -->
      <div class="nomor-telepon">
        <ion-item lines="none">
          <ion-label position="stacked">Phone Number </ion-label>
          <ion-input class="phonenumber" type="text" [(ngModel)]="phonenumber" readonly>{{item.phonenumber}}</ion-input>
        </ion-item>
      </div>
    

    <!-- fungsi sebagai munculnya tampilan alamat rumah ketika di view -->
    <div class="alamat">
      <ion-item lines="none">
        <ion-label position="stacked">Birthday</ion-label>
        <ion-input class="birthday" type="text" [(ngModel)]="birthday" readonly>{{item.birthday}}</ion-input>
      </ion-item>
    </div>

     <!-- fungsi sebagai munculnya tampilan npwp ketika di view -->
     <div class="npwp">
      <ion-item lines="none">
        <ion-label position="stacked">Email</ion-label>
        <ion-input class="email" type="text" [(ngModel)]="email" readonly>{{item.email}}</ion-input>
      </ion-item>
    </div>
    <div class="twitter">
      <ion-item lines="none">
        <ion-label position="stacked">Country</ion-label>
        <ion-input class="country" type="text" [(ngModel)]="country" readonly>{{item.country}}</ion-input>
      </ion-item>
    </div>
  </div>
    <!-- fungsi sebagai munculnya tampilan Twitter ketika di view -->
  </div>
</ion-content>