<ion-header>
  <ion-toolbar color=#F57F17 class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="primary">
      <div *ngFor="let item of items">
        <ion-button
          (click)="EditProfile(item.id, item.fullname, item.phonenumber, item.birthday, item.email, item.country)">Edit
        </ion-button>
      </div>
    </ion-buttons>
  </ion-toolbar>

  <div class="cover">
    <ion-col class="add" size="12" size-md>
      <div class="image-upload">
        <label for="file-input" size="12" size-sm >
          <img *ngFor="let item of images | async" [src]="item.filepath" />
          <img class="add-pict" [hidden]="isUploaded" src="assets/img/avatar-contact.png" />
        </label>
        <ion-col size="12" size-sm>
            <div class="nama">
              <h3 *ngFor="let item of items">{{item.fullname}}</h3>
            </div>
        </ion-col>
      </div>
    </ion-col>
  </div>
</ion-header>

<ion-content>
  <div class="all">
    <div class="items" *ngFor="let item of items" >
      <!-- Menampilkan nomor telepon -->
      <div class="nomor-telepon">
        <ion-item lines="none">
          <ion-label position="stacked">Phone Number </ion-label>
          <ion-input class="phonenumber" type="text" [(ngModel)]="phonenumber" readonly>{{item.phonenumber}}</ion-input>
        </ion-item>
      </div>
        <!-- Menampilkan list birthday -->
        <div class="birthday">
          <ion-item lines="none">
            <ion-label position="stacked">Birthday</ion-label>
            <ion-input class="birthday" type="text" [(ngModel)]="birthday" readonly>{{item.birthday}}</ion-input>
          </ion-item>
        </div>
          <!-- Menampilkan list email -->
          <div class="email">
            <ion-item lines="none">
              <ion-label position="stacked">Email</ion-label>
              <ion-input class="email" type="text" [(ngModel)]="email" readonly>{{item.email}}</ion-input>
            </ion-item>
          </div>
            <!-- Menampilkan list twitter -->
            <div class="country">
              <ion-item lines="none">
                <ion-label position="stacked">Country</ion-label>
                <ion-input class="country" type="text" [(ngModel)]="country" readonly>{{item.country}}</ion-input>
              </ion-item>
            </div>
    </div>
  </div>
</ion-content>

  

