ion-content {
  --ion-background-color: white !important;
}

ion-header {
  background-color: #F57F17;
}

ion-toolbar {
  color: white;
}

ion-title {
  color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

ion-button {
  text-transform: capitalize;
}

.background{
  .add{
    position: relative;
    margin-left: 1%;
    margin-top: 0vw;
    img{
      width: 100px;
      height: 100px;
      margin-left: 37%;
      margin-top: -100vw;
      position: relative;
      bottom: -79px;
      left: -44px;
    }
  }

  height: 180px;
  background-image: url('../../../assets/img/Protruding-Squares.svg');
  background-attachment: fixed;
  background-size: cover;

  ion-text {
    visibility: hidden;
  }
}

.name {
  color: #EEEEEE;
  margin-top: -60px;
  margin-left: 120px;
}

.image-upload {
  height: 80px;
  width: 100px;
  margin-top: 88px;
  margin-left: 15px;
}

.image-upload>input {
  display: none;
}

.image-upload img {
  border-style: solid;
  border: 3px solid #EEEEEE;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.content {
  height: 400px;
  background-color: white;
}

.content-item {
  margin-top: 40px;
  margin-left: 90px;
  height: 400px;
}