<ion-content>

  <div class="back-button">
    <ion-icon name="arrow-back" size="large" defaultHref="/login"></ion-icon>
  </div>

  <div class="oval"></div>
  <div class="logo">

    <!-- Fungsi untuk tampilan logo sunny CRM -->
    <img src="assets/img/logo-isa.png" /></div>

  <!-- Berguna untuk sistem letak khusus bagian fill email dan password  -->
  <ion-grid style="grid-auto-rows: 10vw;">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-list class="item-input">
        <div>
          <ion-item class="item item-trns">
            <ion-input placeholder="Email" [(ngModel)]="email" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Password" [(ngModel)]="password" type="password"></ion-input>
          </ion-item>
        </div>
        <br>
        <ion-button expand="full" shape="round" (click)="login()" color="success">Masuk</ion-button>
        <div class="textlogin">
          <ion-text routerLink="/register"><u>Daftar akun baru</u></ion-text>
        </div>
      </ion-list>
    </ion-row>
  </ion-grid>
</ion-content>