<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" (click)="movetoMain()"></ion-back-button>

      <div class="add-pro">
        <ion-icon (click)="addprospect()" name="md-add-circle"></ion-icon>
      </div>

    </ion-buttons>

    <ion-title>Prospect</ion-title>
  </ion-toolbar>
  <div>
    <ion-toolbar color="primary">
      <div class="fullname">
        <div class="image-upload">
          <label for="file-input">
            <div class="add">
              <img *ngFor="let item of images | async" [src]="item.filepath" />
              <img class="add-pict" [hidden]="isUploaded" src="assets/img/avatar-contact.png" />
            </div>
          </label>
          <input id="file-input" type="file" class="upload" (change)="uploadFile($event.target.files)"/>
        </div>
      </div>
      <div text-center>
        <div text-center *ngIf="isUploading && !isUploaded">
          <div *ngIf="percentage | async as pct">
            <!-- Progress: {{ pct | number }}% -->
            <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
          </div>
          <div *ngIf="snapshot | async as snap">
            <!-- File Size: {{ snap.totalBytes | fileSizePipe }} Transfered:
            {{ snap.bytesTransferred | fileSizePipe }} -->
            <div *ngIf="snapshot && snap.bytesTransferred != snap.totalBytes">
              <!-- <ion-button color="warning" size="small" (click)="task.pause()" class="button is-warning">Pause</ion-button>
              <ion-button size="small" (click)="task.resume()" class="button is-info">Resume</ion-button>
              <ion-button color="danger" size="small" (click)="task.cancel()" class="button is-danger">Cancel</ion-button> -->
            </div>
          </div>
        </div>
      </div> 
      <div *ngFor="let item of itemsProfile">
        <h2 class="text">
          {{item.fullname}}
        </h2>
        <p class="text-job">
          {{item.email}}
        </p>
      </div>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>

  <ion-grid class="newprospect">
    <div class="see-all" (click)="SeeAllProspect(param)">
      <div class="text1">
        <ion-text color="primary"> See all </ion-text>
      </div>
    </div>
    <h4 class="judul"><b> New Prospect </b></h4>


    <div class="scrolling-wrapper-1">
      <p text-center>{{text}}</p>
      <div *ngFor="let item of items" class="card">
        <ion-card class="prospectcard" button
          (click)="updateprospect(item.id,item.namaCustomer,item.emailCustomer,item.alamatCustomer,item.no_tlp,item.company,item.alamatCompany,item.emailCompany,item.nomorCompany,item.customerneed,item.stock,item.hargaProduk,item.totalPrice,item.budget,item.status)">
          <img center src="assets/img/customer-icon.png" />
          <ion-card-content>
            <ion-textarea readOnly>
              <h2>{{item.namaCustomer}}</h2>
            </ion-textarea>
           <ion-textarea> <p>{{item.company}}</p> </ion-textarea>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </ion-grid>



  <!-- CUSTOMER -->
  <div class="see-all" (click)="SeeAllCustomer(param)">
    <div class="text3">
      <ion-text color="primary"> See all </ion-text>
    </div>
  </div>
  <h4 class="judul"> Customer </h4>

  <div class="scrolling-wrapper-1">
    <p text-center>{{textCustomer}}</p>
    <div *ngFor="let item of itemsCustomer; let i=index" class="card">
      <ion-card *ngIf="i<5" button
        (click)="updateprospect(item.id,item.namaCustomer,item.emailCustomer,item.alamatCustomer,item.no_tlp,item.company,item.alamatCompany,item.emailCompany,item.nomorCompany,item.customerneed,item.stock,item.hargaProduk,item.totalPrice,item.budget,item.status)">
        <img src="assets/img/customer-icon.png">
        <ion-card-content>
          <h2 text-center>{{item.namaCustomer}}</h2>
          <p text-center>{{item.company}}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>


  <div class="see-all" (click)="product()">
    <div class="text2">
      <ion-text color="primary"> See all </ion-text>
    </div>
  </div>
  <h4 class="judul"> Our Product</h4>

  <div class="scrolling-wrapper-1">
    <p text-center>{{textProduct}}</p>
    <div *ngFor="let item of itemsproduct; let i=index" class="card">
      <ion-card *ngIf="i<3" button
        (click)="updateProduct(item.id,item.namaProduk,item.tipeProduk,item.totalProfit,item.normalPrice,item.jumlahProduk,item.hargaProduk,item.deskripsiProduk)">
        <img src="assets/img/product.png">
        <ion-card-content>
          <ion-text>
            <h2 text-center>{{item.namaProduk}}</h2>
            <p text-center>{{item.tipeProduk}}</p>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </div>
  </div>