<ion-header>
    <ion-toolbar color=#F57F17 class="new-background-color" >
      <ion-buttons color=#FFFFFF slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button *ngIf="!id" (click)="Simpan()">Simpan</ion-button>
        <ion-button *ngIf="id>=1" (click)="update()">Simpan</ion-button>
      </ion-buttons>
      <ion-title *ngIf="!id">Tambah Produk</ion-title>
      <ion-title  *ngIf="id>=1">Ubah Produk</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
      <ion-grid>
        <ion-row>
        <ion-col>
           <!-- fill data pengisian Nama Produk user-->
        <ion-item class="item">
          <ion-label position="floating" >Nama Produk</ion-label>
          <ion-input type="text" [(ngModel)]="userID" hidden  ></ion-input>
          <ion-input type="text" [(ngModel)]="namaProduk"></ion-input>
        </ion-item>
        </ion-col>
        <ion-col>
          
           <!-- fill data pengisian Tipe Produk yng diingikan user-->
        <ion-item class="item" >
          <ion-label position = "floating"  >Tipe Produk</ion-label>
          <ion-select placeholder="Produk" [(ngModel)]="tipeProduk">
            <ion-select-option value="corporate">Corporate</ion-select-option>
            <ion-select-option value="retail">Retail</ion-select-option>
          </ion-select>
        </ion-item>
        </ion-col>
       
         <!-- fill data pengisian status produk yang akan ready user-->
      <ion-item class="item">
        <ion-label position="floating"  class="label">Status Produk</ion-label>
        <ion-input type="text" [(ngModel)]="statusProduk"></ion-input>
      </ion-item>

       <!-- fill data pengisian Jumalah produk  user-->
      <ion-item class="item">
        <ion-label position="floating"  class="label">Jumlah Produk</ion-label>
        <ion-input type="text" [(ngModel)]="jumlahProduk"></ion-input>
      </ion-item>

       <!-- fill data pengisian Harga produk  user-->
      <ion-item class="item">
        <ion-label position="floating"  class="label">Harga Produk</ion-label>
        <ion-input type="text" [(ngModel)]="hargaProduk"></ion-input>
      </ion-item>

       <!-- fill data pengisian Deskripsi produk/ kategorinya user-->
      <ion-item class="item">
        <ion-label position="floating"  class="label">Deskripsi Produk</ion-label>
        <ion-input type="text" [(ngModel)]="deskripsiProduk"></ion-input>
      </ion-item>
      </ion-row>
      </ion-grid>
</ion-content>
