<ion-header>
  <ion-toolbar color="primary" class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button (click)="Moveto()"></ion-back-button>
    </ion-buttons>
    <ion-title>Another Prospect</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <div [ngSwitch]="selectCategory">
      <div *ngSwitchCase="'Populer'">
        <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItemsProspect()"></ion-searchbar>
      </div>
      <div *ngSwitchCase="'Kategori'">
        <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItemsCustomer()"></ion-searchbar>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-segment [(ngModel)]="selectCategory">
    <ion-segment-button value="Populer">
      <ion-label>Top Recent</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Terbaru">
      <ion-label>New</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Kategori">
      <ion-label>Customer</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="selectCategory">
    <div *ngSwitchCase="'Populer'">
      <ng-container *ngIf="isLoaded; else elseTemplate">
        <ion-list>
          <ion-item-sliding *ngFor="let item of itemsProspect">
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="presentAlertMultipleButtons(item.id)">Delete</ion-item-option>
            </ion-item-options>
            <ion-item button
              (click)="updateprospect(item.id,item.namaCustomer,item.emailCustomer,item.alamatCustomer,item.no_tlp,item.company,item.alamatCompany,item.emailCompany,item.nomorCompany,item.customerneed,item.stock,item.hargaProduk,item.totalPrice,item.budget,item.status)">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                <ion-list>
                  <h3>{{item.namaCustomer}}</h3>
                  <h2>{{item.company}}</h2>
                  <p>{{item.customerneed}}</p>
                </ion-list>
              </ion-label>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
      </ng-container>

      <ng-template #elseTemplate>
        <ion-item *ngFor="let item of arrayOne(10)">
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h2>
              <ion-skeleton-text animated style="width: 100px;"></ion-skeleton-text>
            </h2>
            <p>
              <ion-skeleton-text animated style="width: 180px;"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ng-template>
    </div>

    <div *ngSwitchCase="'Terbaru'">
      <ng-container *ngIf="isLoaded; else elseTemplate">
        <ion-list>
          <ion-item-sliding *ngFor="let item of itemsNew">
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="presentAlertMultipleButtons(item.id)">Delete</ion-item-option>
            </ion-item-options>
            <ion-item button
              (click)="updateprospect(item.id,item.nama,item.company,item.no_tlp,item.almt_rumah,item.customerneed)">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                <h3>{{item.namaCustomer}}</h3>
              </ion-label>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
      </ng-container>

      <ng-template #elseTemplate>
        <ion-item *ngFor="let item of arrayOne(10)">
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h2>
              <ion-skeleton-text animated style="width: 100px;"></ion-skeleton-text>
            </h2>
            <p>
              <ion-skeleton-text animated style="width: 180px;"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ng-template>
    </div>
    <div *ngSwitchCase="'Kategori'">
      <ng-container *ngIf="isLoaded; else elseTemplate">
        <ion-list>
          <ion-item-sliding *ngFor="let item of itemsCustomer">
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="presentAlertMultipleButtons(item.id)">Delete</ion-item-option>
            </ion-item-options>
            <ion-item button
              (click)="updateprospect(item.id,item.namaCustomer,item.emailCustomer,item.alamatCustomer,item.no_tlp,item.company,item.alamatCompany,item.emailCompany,item.nomorCompany,item.customerneed,item.stock,item.hargaProduk,item.totalPrice,item.budget,item.status)">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                <ion-list>
                  <h3>{{item.namaCustomer}}</h3>
                  <h2>{{item.company}}</h2>
                  <p>{{item.customerneed}}</p>
                </ion-list>
              </ion-label>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
      </ng-container>

      <ng-template #elseTemplate>
        <ion-item *ngFor="let item of arrayOne(10)">
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h2>
              <ion-skeleton-text animated style="width: 100px;"></ion-skeleton-text>
            </h2>
            <p>
              <ion-skeleton-text animated style="width: 180px;"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ng-template>
    </div>
  </div>
</ion-content>