<ion-header>
  <ion-toolbar color=#F57F17 class="new-background-color">
    <ion-buttons color=#FFFFFF slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button *ngIf="!id" (click)="AddAccount()">save</ion-button>
      <ion-button *ngIf="id>=1" (click)="updateAccount()">save</ion-button>
    </ion-buttons>
    <ion-title *ngIf="!id">Add Account </ion-title>
    <ion-title *ngIf="id>=1">Edit Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Kegunaan untuk membuat fill dan untuk mengupload foto ke dalam akun -->
  <!-- <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col>
        <div class="image-upload">
          <label for="file-input">
            <img src="assets/icon/add.png" />
          </label>

          <input id="file-input" type="file" />
        </div>
      </ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid> -->

  <!-- fill data dimana tempat pengisian Nama perusahaan user -->
  <ion-item class="row2">
    <ion-label position="stacked">Company Name <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input type="text" [(ngModel)]="userID" hidden></ion-input>
    <ion-input type="text" placeholder="{{warning}}" [(ngModel)]="nama" class="nama"></ion-input>
  </ion-item>

  <ion-item class="row2">
    <ion-label position="stacked">Company Address</ion-label>
    <ion-input type="text" class="nama" [(ngModel)]="alamat"></ion-input>
  </ion-item>

  <ion-item class="row2">
    <ion-label position="stacked">Company Website</ion-label>
    <ion-input type="text" [(ngModel)]="web" class="web"></ion-input>
  </ion-item>

  <!-- fill data dimana tempat pengisian no telepon perusahaan user -->
  <ion-item class="row2">
    <ion-label position="stacked"> Company Telephone Number <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input type="text" placeholder="{{warning}}" [(ngModel)]="phone" class="phone"></ion-input>
  </ion-item>

  <!-- fill data dimana tempat pengisian alamat email perusahaan user -->
  <ion-item class="row2">
    <ion-label position="stacked">Email <ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input type="text" placeholder="{{warning}}" [(ngModel)]="email" class="email"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row class="row2">
      <ion-col>
        <!-- fill data dimana tempat pengisian pemilik user -->
        <ion-item>
          <ion-label position="stacked">Owner</ion-label>
          <ion-select placeholder="Select One" [(ngModel)]="owner">
            <ion-select-option value="user">User</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <!-- fill data dimana tempat pengisian tipe perusahaan si user-->
          <ion-label position="stacked">Type</ion-label>
          <ion-select placeholder="Select type of Company" [(ngModel)]="type">
            <ion-select-option value="pt">PT</ion-select-option>
            <ion-select-option value="cv">CV</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- fill data dimana tempat pengisian acara yang akan di adakan user-->
  <ion-item class="row2">
    <ion-label position="stacked">Event Date</ion-label>
    <ion-datetime [(ngModel)]="event_date"></ion-datetime>
  </ion-item>
  <br>
  <br>
  <!-- fill data dimana tempat pengisian new segmen -->
  <ion-label class="segment"> Segment </ion-label>
  <br>
  <!-- fill data dimana pemilihan kategori untuk akun nya user -->
  <ion-item class="row2">
    <ion-label position="stacked">Category</ion-label>
    <ion-select placeholder="Select category of Company" [(ngModel)]="category">
      <ion-select-option value="Silver">Silver</ion-select-option>
      <ion-select-option value="Gold">Gold</ion-select-option>
      <ion-select-option value="Platinum">Platinum</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- fill data dimana tempat pengisian di bidang industri apa perusahaan si user -->
  <ion-item class="row2">
    <ion-label position="stacked">Industry</ion-label>
    <ion-select placeholder="Select type Industry" [(ngModel)]="industry">
      <ion-select-option value="Bank">Bank</ion-select-option>
      <ion-select-option value="Insurance">Insurance</ion-select-option>
      <ion-select-option value="Finance">Finance</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- fill data dimana tempat pengisian jumlah karyawan di perusahaan user -->
  <ion-item class="row2">
    <ion-label position="stacked">Employee</ion-label>
    <ion-select placeholder="Total Employee" [(ngModel)]="employee">
      <ion-select-option value="1-10">1-10</ion-select-option>
      <ion-select-option value="10-100">10-100</ion-select-option>
      <ion-select-option value="100-1000">100-1000</ion-select-option>
      <ion-select-option value=">1000">>1000</ion-select-option>
    </ion-select>

  </ion-item>

  <!-- fungsi untuk merefresher data yang sudah di isi oleh user -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>