<ion-header>
  <ion-toolbar color=#F57F17 class="new-background-color">
    <ion-buttons color=#FFFFFF slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Edit Profile
    </ion-title>
    <ion-buttons color=#FFFFFF slot="primary">
      <ion-button *ngIf="!id" (click)="createdProcess()">Save</ion-button>
      <ion-button *ngIf="id>=1" (click)="updateProcess()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="cover" size="12" size-md>
    <!-- Kegunaan untuk membuat fill dan untuk mengupload foto ke dalam akun -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="image-upload">
            <label size="12" size-sm for="file-input" for="file-input">
              <img src="assets/icon/add.png" />
            </label>
  
            <input id="file-input" type="file" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-header>

<ion-content>
  


<div class="background-content">
  
<!-- Text -->
<ion-col>
  <div class="ion-text-center">
    <h3>Edit Personalization</h3>
    You can modified information in below :
  </div>
</ion-col>


  <!-- fill data dimana tempat pengisian Nama Lengkap  user -->
  <ion-item class="label">
    <ion-label position="floating">Full Name</ion-label>
    <ion-input type="text" [(ngModel)]="fullname"></ion-input>
  </ion-item>

  <!-- fill data dimana tempat pengisian No hp  user -->
  <ion-item class="label">
    <ion-label position="floating">Phone Number</ion-label>
    <ion-input class="phonenumber" type="text" [(ngModel)]="phonenumber"></ion-input>
  </ion-item>

  <!-- fill data dimana tempat pengisian ulang tahun  user -->
  <ion-item class="label">
    <ion-label position="floating">Date of birth</ion-label>
    <ion-datetime [(ngModel)]="birthday"></ion-datetime>
  </ion-item>

  <!-- fill data dimana tempat pengisian email kantor user -->
  <ion-item class="label">
    <ion-label position="floating">Email</ion-label>
    <ion-input class="email" type="text" [(ngModel)]="email"></ion-input>
  </ion-item>

  <!-- fill data dimana tempat pengisian Negara user -->
  <ion-item class="label">
    <ion-label position="floating">Country</ion-label>
    <ion-input class="country" type="text" [(ngModel)]="country"></ion-input>
    <ion-input type="text" [(ngModel)]="userID" hidden></ion-input>
  </ion-item>




</div>
</ion-content>