<ion-header>
  <ion-toolbar color=#F57F17 class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title> FAQ </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="background">
    <ion-text>Contact us</ion-text>
  </div>
  <div class="judul1">
    <ion-list>
      <ion-list-header>
        <h2> Profile dan Account </h2>
      </ion-list-header>
    </ion-list>
  </div>
  <div class="text1">
    <ion-card>
      <ion-card-header tappable (click)="collapseCard = !collapseCard">
        <ion-card-title>
          <ion-label>
            <h2> What is Sunny CRM? <ion-icon name="arrow-dropdown"></ion-icon>
            </h2>
          </ion-label>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="collapseCard">
        <p>
          Strategy for managing organizational relationships and interactions with customers and potential customers.
          The SUNNY CRM system is Speeding up the processing of CRM and getting information about the number of
          prospects
          existing, then get a 360 degree view of the Customer.
          And make it easier for Customers / Prospect segmentation.
        </p>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="text2">
    <ion-card>
      <ion-card-header tappable (click)="collapseCard = !collapseCard">
        <ion-card-title>
          <ion-label>
            <h2> What are Sunny CRM Functional Systems? <ion-icon name="arrow-dropdown"></ion-icon>
            </h2>
          </ion-label>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="collapseCard">
        <p>
          1. The System can manage Customer data (Leads).
        </p>
        <p>
          2. The System can manage Customer user (Contact, Company, Supplier, and partner).
        </p>
        <p>
          3. The System can manage Prospect.
        </p>
        <p>
          4. The System can manage Activity (New leads and old leads, meeting schedules, times and places)
        </p>
        <p>
          5. The system used is very User Friendly
        </p>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="text3">
    <ion-card>
      <ion-card-header tappable (click)="collapseCard = !collapseCard">
        <ion-card-title>
          <ion-label>
            <h2> Can Sunny CRM be used on all types of mobile phones? <ion-icon name="arrow-dropdown"></ion-icon>
            </h2>
          </ion-label>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="collapseCard">
        <p>
          Sunny CRM can only be used on iOS and Android-based phones.
        </p>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="text4">
    <ion-card>
      <ion-card-header tappable (click)="collapseCard = !collapseCard">
        <ion-card-title>
          <ion-label>
            <h2> Can I use the same Sunny CRM account on multiple phones? <ion-icon name="arrow-dropdown"></ion-icon>
            </h2>
          </ion-label>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="collapseCard">
        <p>
          yes can, one account on sunny crm can be used for several of your phones
        </p>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="text5">
    <ion-card>
      <ion-card-header tappable (click)="collapseCard = !collapseCard">
        <ion-card-title>
          <ion-label>
            <h2> What are the benefits of using Sunny Crm? <ion-icon name="arrow-dropdown"></ion-icon>
            </h2>
          </ion-label>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="collapseCard">
        <p>
          1. Increase customer loyalty.
        </p>
        <p>
          2. Reducing personal and company costs.
        </p>
        <p>
          3. the activity operational are increasingly efficient.
        </p>
        <p>
          4. Time to market increases.
        </p>
        <p>
          5. Income increases every day.
      </ion-card-content>
    </ion-card>
  </div>

  <div class="text6">
    <ion-card>
      <ion-card-header tappable (click)="collapseCard = !collapseCard">
        <ion-card-title>
          <ion-label>
            <h2>How do I re-open an account that was previously frozen? <ion-icon name="arrow-dropdown">
              </ion-icon>
            </h2>
          </ion-label>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="collapseCard">
        <p>
          Please immediately contact Sunny CRM(Isystem Asia) Customer Care to request further assistance.
        </p>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="text7">
    <ion-card>
      <ion-card-header tappable (click)="collapseCard = !collapseCard">
        <ion-card-title>
          <ion-label>
            <h2> How do I report a problem regarding my account? <ion-icon name="arrow-dropdown">
              </ion-icon>
            </h2>
          </ion-label>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="collapseCard">
        <p>
          Please immediately contact Sunny CRM (Isystem Asia) Customer Care to request further assistance.
        </p>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="text7">
    <ion-card>
      <ion-card-header tappable (click)="collapseCard = !collapseCard">
        <ion-card-title>
          <ion-label>
            <h2> How do I close my Sunny CRM account? <ion-icon name="arrow-dropdown">
              </ion-icon>
            </h2>
          </ion-label>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="collapseCard">
        <p>
          For now, the option to close a Sunny CRM account has not been made available.
        </p>
        <p>
          However if more information,Please immediately contact Sunny CRM (Isystem Asia) Customer Care to request
          further assistance.
        </p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>