ion-content {
  --background: url('../../../assets/img/Liquid-Cheese.svg') no-repeat center center / cover;
  --ion-background-color: #2b2b2b00;
}

ion-input {
  color: white;
}

ion-text {
  position: relative;
  color: white;
  margin-left: 30px;
}

.logo {
  margin: auto;
  margin-top: 30vw;
  position: relative;
  height: 40vw;
  width: 90vw;
}

.gambar {
  box-align: center;
  padding: 20px;
  margin: 0px;
  line-height: 0px;
  color: #941b1b;
}

.textlogin {
  box-align: center;
  padding: 2vw;
  margin-top: 2vw;
  margin-left: -2vw;
  line-height: 5px;
}

.back-button {
  color: white;
  margin-top: 3vw;
  margin-left: 3vw;
}


