<ion-header>
  <ion-toolbar color=#F57F17 class="new-background-color">
    <ion-buttons color=#FFFFFF slot="start" class="new-background-color">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons color=#FFFFFF slot="primary">
      <ion-button
        (click)="updateAccount(id, nama, alamat, web, phone, email, owner, type, event_date, category, industry, employee)">
        Edit
      </ion-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
    <div class="coverProduk">
      <img [src]="url" *ngIf="url">
    </div>
        <div class="cover">
          <div class="add">
            <label for="file-input">
              <img [src]="items" />
              <img [hidden]="isUploaded" src="assets/img/4_avatar-512.png" />
            </label>
            <input id="file-input" type="file" class="upload" (change)="uploadFile($event.target.files)"/>
          </div>
          <div text-center>
            <div text-center *ngIf="isUploading && !isUploaded">
              <div *ngIf="snapshot | async as snap">
                <!-- File Size: {{ snap.totalBytes | fileSizePipe }} Transfered:
                {{ snap.bytesTransferred | fileSizePipe }} -->
                <div *ngIf="snapshot && snap.bytesTransferred != snap.totalBytes">
                  <!-- <ion-button color="warning" size="small" (click)="task.pause()" class="button is-warning">Pause</ion-button>
                  <ion-button size="small" (click)="task.resume()" class="button is-info">Resume</ion-button>
                  <ion-button color="danger" size="small" (click)="task.cancel()" class="button is-danger">Cancel</ion-button> -->
                </div>
              </div>
              <div *ngIf="percentage | async as pct">
                <!-- Progress: {{ pct | number }}% -->
                <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
              </div>
            </div>
          </div> 
      <div class="nama">
        <!-- fungsi sebagai munculnya tampilan Nama ketika di view -->
        <ion-input type="text" [(ngModel)]="nama" readonly></ion-input>
      </div>
      <!-- fungsi sebagai munculnya tampilan Phone ketika di view -->
      <div class="perusahaan">
        <ion-input type="text" [(ngModel)]="alamat" readonly></ion-input>
      </div>
    </div>
    <!-- fungsi sebagai munculnya tampilan Owner ketika di view -->
    <div class="nomor-telepon">
      <ion-item lines="none">
        <ion-label position="floating">Email  </ion-label>
        <ion-input type="text" [(ngModel)]="email" readonly></ion-input>
      </ion-item>
    </div>
    <!-- fungsi sebagai munculnya tampilan Email ketika di view -->
    <div class="alamat">
      <ion-item lines="none">
        <ion-label position="floating">Website</ion-label>
        <ion-input type="text" [(ngModel)]="web" readonly></ion-input>
      </ion-item>
    </div>
    <!-- fungsi sebagai munculnya tampilan Website ketika di view -->
    <div class="npwp">
      <ion-item lines="none">
        <ion-label position="floating">Company Telephone Number</ion-label>
        <ion-input type="text" [(ngModel)]="phone" readonly></ion-input>
      </ion-item>
    </div>
    <!-- fungsi sebagai munculnya tampilan Tanggal Acara ketika di view -->
    <div class="twitter">
      <ion-item lines="none">
        <ion-label position="floating">Event Date</ion-label>
        <ion-input type="text" [(ngModel)]="event_date" readonly></ion-input>
      </ion-item>
    </div>
  </div>

  <div class="new-content">
  
      <ion-card-header tappable (click)="collapseCard = !collapseCard">
        <ion-card-title>
          <ion-label>
            <h2 text-center> View All <ion-icon name="arrow-dropdown"></ion-icon>
            </h2>
          </ion-label>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="collapseCard">
        <div>
          <ion-item lines="none">
            <ion-label position="floating">Company Type</ion-label>
            <ion-input type="text" [(ngModel)]="type" readonly></ion-input>
          </ion-item>
        </div>
        <div>
          <ion-item lines="none">
            <ion-label position="floating">Owner</ion-label>
            <ion-input type="text" [(ngModel)]="owner" readonly></ion-input>
          </ion-item>
        </div>
        <div>
          <ion-item lines="none">
            <ion-label position="floating">Category</ion-label>
            <ion-input type="text" [(ngModel)]="category" readonly></ion-input>
          </ion-item>
        </div>
        <div>
          <ion-item lines="none">
            <ion-label position="floating">Industry</ion-label>
            <ion-input type="text" [(ngModel)]="industry" readonly></ion-input>
          </ion-item>
        </div>
        <div>
          <ion-item lines="none">
            <ion-label position="floating">Employee</ion-label>
            <ion-input type="text" [(ngModel)]="employee" readonly></ion-input>
          </ion-item>
        </div>
      </ion-card-content>
  
  </div>
  <!-- fungsi sebagai user bisa langsung call dari akun yang di view -->
  <div class="content">
    <ion-button fill="clear" (click)="call(data)">
      <ion-icon name="call"></ion-icon>
    </ion-button>
  </div>
</ion-content>