<!-- fungsi sebagai menu tabs app sunny crm -->
<ion-tabs >
  <ion-tab-bar slot="bottom">
      <ion-tab-button tab="main">
      <ion-icon name="ios-home"></ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>
        <ion-tab-button tab="notifications">
      <ion-icon name="notifications"></ion-icon>
     <ion-badge>{{totalProspect}}</ion-badge>
      <ion-label>NOTIFICATIONS</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="profile">
      <ion-icon name="body"></ion-icon>
      <ion-label>PROFIL</ion-label>
    </ion-tab-button> -->
    <ion-tab-button tab="myaccount">
      <ion-icon name="ios-cog"></ion-icon>
      <ion-label>SETTINGS</ion-label>
      </ion-tab-button>
  </ion-tab-bar>  
</ion-tabs>

