* {
  --ion-background-color: #ffffff !important;
}

ion-content {
  --ion-background-color: #ffffff fixed !important;  
}

.grid, .row, .col {
  border: 1px solid black;
}
.Slide1{
  // overflow-y: scroll;
  display: block;
}


ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
  text-transform: capitalize;
}
ion-title {
  color: #F57F17;
}
ion-button {
  color: #FFFFFF;
  text-transform: capitalize;
}

// ion-content {
//   .scroll-content {
    
//   }
// }

.card1 {
  margin-left: 20px;
  margin-right: 10px;
}
.segment {
  margin-top: 10px;
  margin-bottom: -18px;
  display: block;
  color: #F57F17;
  text-align: center;
}
.upload {
  margin-left: 143px;
  margin-bottom: 50px;
  color: #ffffff;
}
ion-back-button {
  color: #FFFFFF;
}
ion-title {
  color: #FFFFFF;
}
ion-header {
  background-color: #F57F17;
}
new-background-color {
  background-color: #F57F17;
}
ion-toolbar {
  background-color: #F57F17;
}
ion-content {
  --ion-background-color: rgb(255, 255, 255) fixed !important;  
    overflow: hidden;
    --overflow: hidden;
  
}
ion-card {
  margin-top: -6vw;
  height: 53vw;
  width: 100vw;
  margin-left: -2.2vw;
}
ion-card-content {
  height: 50vw;
  position: absolute;
}
.avatar {
  margin-top: 0;
}
.image-upload>input {
  display: none;
}
.image-upload img {
  width: 80px;
  cursor: pointer;
}
.scroll-content {
  display: flex;
  flex-direction: column;
  ion-slides {
    display: flex;
  }
}
.next {
  size: 10vw;
}
.next-butt {
  margin-top: 5vw;
}
.statusprocess {
  text-align: center;
  color: #F57F17;
  border-radius: 2vw;
  font-size: 4vw;
}
.next-prog {
  margin-top: 10vw;
  margin-right: -52vw;
}
.ButtonSlide4{
  margin-top: 2vw;
  margin-right: -77vw;
}
.previous {
  margin-top: 5vw;
}
ion-slides {
  overflow: hidden;
  --overflow: hidden;
}

::-webkit-scrollbar, *::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

.scroll-content {
  overflow: hidden;
}
  ion-infinite-scroll.md.infinite-scroll-enabled.hydrated {
      overflow: scroll!important;
      height: 100%!important;
    }