<ion-header>
  <ion-toolbar color=#F57F17 class="new-background-color">
    <ion-buttons color=#FFFFFF slot="start">
      <ion-button (click)="cancel()">
        <ion-icon name="arrow-round-back" color=#FFFFFF></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="!id">Tambah Prospect</ion-title>
    <ion-title *ngIf="id>=1">Ubah Prospect</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/members/main']" [disabled]="!pdfObj">Done</ion-button>
      <!-- <ion-button *ngIf="!id" (click)="createdProcess()">Simpan</ion-button>
        <ion-button *ngIf="id>=1" (click)="updateProcess()">Simpan</ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    
    <ion-card>
        <img src="assets/img/banner-prospect.png">
        <ion-progress-bar value="{{progress}}" color="success"></ion-progress-bar>
        <ion-card-content>
          <h2><b>NEW</b> - DETAIL OF PROGRESS </h2>
          
        </ion-card-content>
      </ion-card>
  <ion-slides [options]="options" #slides class="swiper-no-swiping">
    <ion-slide>
      <ion-col>
        <div>
          <ion-label class="segment">New</ion-label>
          <br>

          <ion-item [hidden]="selectHidden">
            <ion-input type="text" [(ngModel)]="userID" hidden></ion-input>
            <ion-label position="floating">Nama Customer</ion-label>
            <ion-select [(ngModel)]="namaCustomer" placeholder="Pilih Customer" (ionChange)="showNow()">
              <ion-select-option value="new">Buat Baru</ion-select-option>
              <ion-select-option *ngFor="let item of itemsContact" value="{{item.nama}}">{{item.nama}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <div [hidden]="isHidden">
            <span>
              <ion-item>
                <ion-label position="stacked">Nama</ion-label>
                <ion-input [(ngModel)]="namaCustomer"></ion-input>
              </ion-item>
            </span>

            <span>
              <ion-item>
                <ion-label position="stacked">Email</ion-label>
                <ion-input [(ngModel)]="emailCustomer"></ion-input>
              </ion-item>
            </span>
            <span>
              <ion-item>
                <ion-label position="stacked">Alamat</ion-label>
                <ion-input [(ngModel)]="alamatCustomer"></ion-input>
              </ion-item>
            </span>
            <span>
              <ion-item>
                <ion-label position="floating">Nomor Telepon</ion-label>
                <ion-input type="text" [(ngModel)]="no_tlp"></ion-input>
              </ion-item>
            </span>
          </div>
          <span>
            <ion-item>
              <ion-label position="floating">Perusahaan</ion-label>
              <ion-select (ionChange)="TakeEmail()" placeholder="Pilih Perusahaan" [(ngModel)]="company">
                <ion-select-option *ngFor="let item of itemsAccount" value="{{item.nama}}">{{item.nama}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </span>

          <span>
            <ion-item>
              <ion-label position="floating">Produk yang dibutuhkan</ion-label>
              <ion-select placeholder="Product" [(ngModel)]="customerneed">
                <ion-select-option *ngFor="let item of itemProduct" value="{{item.namaProduk}}">{{item.namaProduk}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </span>

        </div>
        <ion-button expand="full" (click)="next()" color="success" [disabled]="!namaCustomer">Next Progress</ion-button>
      </ion-col>
    </ion-slide>

    <!-- Slide 2 -->

    <ion-slide>
      <ion-col>
        <div>
          <ion-label class="segment">Qualify</ion-label>
          <br>
          <span>
            <ion-item *ngFor="let item of itemQunatityProduct">
              <ion-label position="stacked">Produk</ion-label>
              <ion-input type="text" readOnly>{{item.namaProduk}}</ion-input>
            </ion-item>
          </span>
          <span>
            <ion-item *ngFor="let item of itemQunatityProduct">
              <ion-label position="stacked">Price</ion-label>
              <ion-input type="text" value="{{ item.hargaProduk | currency:'Rp '}}" readOnly></ion-input>
            </ion-item>
          </span>
          <span>
            <ion-item>
              <ion-label position="floating">Budget</ion-label>
              <ion-input type="text" [(ngModel)]="budget"></ion-input>
            </ion-item>
          </span>
          <span>
            <ion-item>
              <ion-label position="floating">Stock Needed</ion-label>
              <ion-input type="number" [(ngModel)]="stock" (change)="hitung()"></ion-input>
            </ion-item>
          </span>
          <span>
            <ion-item *ngFor="let item of itemQunatityProduct">
              <ion-label position="stacked">Available Stock</ion-label>
              <ion-input readOnly>{{item.jumlahProduk}}</ion-input>
            </ion-item>
          </span>
          <span>
            <ion-item>
              <ion-label position="floating">Total Price</ion-label>
              <ion-input type="text" value="{{ totalPrice | currency:'Rp ' }}" readOnly></ion-input>
            </ion-item>
          </span>
        </div>
        <ion-button expand="full" (click)="prev()" color="primary">Previous</ion-button>
        <ion-button expand="full" (click)="nextSlide3()" color="success" [disabled]="stock==0">Next Progress</ion-button>
      </ion-col>
    </ion-slide>
    <!-- Slide 3 -->
    <ion-slide>
      <ion-col>
        <div>
          <ion-label class="segment">Company Info</ion-label>
          <br>
        </div>
        <div>
          <span>
            <ion-item>
              <ion-label position="stacked">Company Name</ion-label>
              <ion-input [(ngModel)]="company" readOnly></ion-input>
            </ion-item>
          </span>
          <span>
            <ion-item>
              <ion-label position="stacked">Alamat Company</ion-label>
              <ion-input [(ngModel)]="alamatCompany" readOnly></ion-input>
            </ion-item>
          </span>
          <span>
            <ion-item>
              <ion-label position="stacked"> Email Company </ion-label>
              <ion-input [(ngModel)]="emailCompany" readOnly></ion-input>
            </ion-item>
          </span>
          <span>
            <ion-item>
              <ion-label position="stacked">No.Telp company</ion-label>
              <ion-input [(ngModel)]="nomorCompany" readOnly></ion-input>
            </ion-item>
          </span>
        </div>
        <div>
          <ion-label class="segment">Customer Info</ion-label>
          <br>
        </div>
        <div>
          <span>
            <ion-item>
              <ion-label position="stacked">Name Costumer</ion-label>
              <ion-input [(ngModel)]="namaCustomer" readOnly></ion-input>
            </ion-item>
          </span>
          <span>
            <ion-item>
              <ion-label position="stacked"> Email Costumer </ion-label>
              <ion-input [(ngModel)]="emailCustomer" readOnly></ion-input>
            </ion-item>
          </span>
          <span>
            <ion-item>
              <ion-label position="stacked"> Alamat Costumer </ion-label>
              <ion-input [(ngModel)]="alamatCustomer" readOnly></ion-input>
            </ion-item>
          </span>
          <span>
            <ion-item>
              <ion-label position="floating">Nomor Telepon Customer</ion-label>
              <ion-input type="text" [(ngModel)]="no_tlp" readOnly></ion-input>
            </ion-item>
          </span>
        </div>
        <div>
          <ion-label class="segment">Product Information</ion-label>
          <br>
        </div>
        <div>
          <span>
            <ion-item>
              <ion-label position="stacked">Product Name</ion-label>
              <ion-input [(ngModel)]="customerneed" readOnly></ion-input>
            </ion-item>
          </span>
          <span>
            <ion-item>
              <ion-label position="stacked">Quantity</ion-label>
              <ion-input [(ngModel)]="stock" readOnly></ion-input>
            </ion-item>
          </span>
          <span>
            <ion-item>
              <ion-label position="stacked"> Detail price Per unit </ion-label>
              <ion-input type="text" value="{{ hargaProduk | currency:'Rp'}}" readOnly></ion-input>
            </ion-item>
          </span>
          <span>
            <ion-item>
              <ion-label position="stacked"> Total Price </ion-label>
              <ion-input type="text" value="{{ totalPrice | currency:'Rp'}}" readOnly></ion-input>
            </ion-item>
          </span>
          <span>
            <ion-item>
              <ion-label position="stacked"> Sub Budget </ion-label>
              <ion-input type="text" value="{{ budget | currency:'Rp'}}" readOnly></ion-input>
            </ion-item>
          </span>
        </div>
        <div>
          <ion-button fill="clear" (click)="prev()" color="primary">Previous</ion-button>
          <ion-button expand="full" (click)="SaveProspect()" [hidden]="savebutton">Simpan</ion-button>
          <ion-button expand="full" (click)="downloadPdf()" color="secondary" [disabled]="!pdfObj">Download PDF</ion-button>
          <br>
        </div>
      </ion-col>
    </ion-slide>
  </ion-slides>

</ion-content>