*{
    --ion-background-color: #ffffff !important;
  }
  ion-title{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: capitalize;
  }
  
  ion-title{
    color:#F57F17;
  }
  ion-button{
    color: #FFFFFF;
    text-transform: capitalize;
  }
  .card1{
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .segment{
    margin-top: 10px;
    margin-bottom: -18px;
    display: block;
    color: #F57F17;
    text-align: center;
    }
    
    .upload{
      margin-left: 143px;
      margin-bottom: 50px;
      color: #ffffff;
    }
  
  
  ion-back-button {
    color: #FFFFFF;
  }
  ion-title{
    color:#FFFFFF;
  }
  
  ion-header{
    background-color: #F57F17;
  }
  new-background-color {
    background-color: #F57F17;
  }
  ion-toolbar{
    background-color: #F57F17;
  }

  ion-card {
    margin-top: 1vw;
    height: 50vw;
  }
  ion-card-content{
    height: 50vw;
    position: absolute;
  }
  
  .avatar{
    margin-top: 0;
  }
  
  .image-upload > input
  {
      display: none;
  }
  
  .image-upload img
  {
      width: 80px;
      cursor: pointer;
  }
  
  .scroll-content {
    display: flex;
    flex-direction: column;
  
    ion-slides {
        display: flex;
    }
  }
  .next{
    size: 10vw;
  }
  .next-butt {
    margin-top: 5vw;
  }
  .statusprocess {
    text-align: center;
    color: #F57F17;
    border-radius: 2vw;
    font-size: 4vw;
  }
  .next-prog {
    margin-top: 5vw;
  }
  .previous {
    margin-top: 5vw;
  }