<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light" (click)="movetoMain()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="addproduct()">
        <ion-icon name="md-add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Product</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar color="light" animated [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ng-template #elseTemplate>
    <ion-item *ngFor="let item of arrayOne(10)">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h2>
          <ion-skeleton-text animated style="width: 100px;"></ion-skeleton-text>
        </h2>
        <p>
          <ion-skeleton-text animated style="width: 180px;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ng-template>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-segment [(ngModel)]="selectCategory">
    <ion-segment-button value="Populer">
      <ion-label>Top Recent</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Terbaru">
      <ion-label>New</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Kategori">
      <ion-label>Category</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="selectCategory">
    <div *ngSwitchCase="'Populer'">
      <ng-container *ngIf="isLoaded; else elseTemplate">
        <ion-list>
          <ion-item-sliding *ngFor="let item of items">
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="presentAlertMultipleButtons(item.id)">Delete</ion-item-option>
            </ion-item-options>
            <ion-item button
              (click)="updateProduct(item.id,item.namaProduk,item.tipeProduk,item.totalProfit,item.normalPrice,item.jumlahProduk,item.hargaProduk,item.deskripsiProduk)">
              <ion-avatar slot="start">
                <div *ngIf="item.Images">
                  <img [src]="item.Images">
                </div>
                <div *ngIf="!item.Images">
                  <ion-icon name="ios-basket"></ion-icon>
                </div>
              </ion-avatar>
              <ion-label>
                <h3>{{item.namaProduk}}</h3>
              </ion-label>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
      </ng-container>
    </div>


    <div *ngSwitchCase="'Terbaru'">
      <ng-container *ngIf="isLoaded; else elseTemplate">
        <ion-list>
          <ion-item-sliding *ngFor="let item of itemsNew">
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="presentAlertMultipleButtons(item.id)">Delete</ion-item-option>
            </ion-item-options>
            <ion-item button
              (click)="updateProduct(item.id,item.namaProduk,item.tipeProduk,item.totalProfit,item.jumlahProduk,item.hargaProduk,item.deskripsiProduk)">
              <ion-icon slot="start" name="ios-basket"></ion-icon>
              <ion-label>
                <h3>{{item.namaProduk}}</h3>
              </ion-label>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
      </ng-container>
    </div>

  </div>
</ion-content>